<%= form_for(@institution) do |f| %>
  <% if @institution.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@institution.errors.count, "error") %> prohibited this institution from being saved:</h2>

      <ul>
      <% @institution.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label t(:name) %><br />
    <%= f.text_field :name, autofocus: true, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label t(:acronym) %><br />
    <%= f.text_field :acronym, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label t(:address) %><br />
    <%= f.select(:addresses_id, options_for_select(@addresses, @institution.addresses_id), {}, {class: "form-control"}) %>
  </div>

  <div class="form-group">
    <%= f.label t(:description) %><br />
    <%= f.text_area :description, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label t(:avatar) %> <br />
    <%= f.file_field :avatar, class: "form-control" %>
  </div>

  <div class="actions">
    <%= f.submit class: "btn btn-default" %>
  </div>
<% end %>
