<% @institutions.each_with_index do |institution, index| %>
  <div class="row institutions">
    <% if (index % 2 == 0) %>
        <div class="text col-xs-12 col-sm-6 col-md-8 pull-rigth description-institutions">
            <h3 class="name-description"><%= link_to institution.name, institution, class: "links-buttons" %></h3>
            <div class="image img-responsive visible-xs pull-left image-institutions">
              <%= image_tag institution.avatar.url(:thumb) %>
            </div>
            <div class="text-justify"><%= institution.description %></div>
        </div>
        <div class="image img-responsive hidden-xs col-sm-4 col-md-4 pull-left image-institutions">
          <%= image_tag institution.avatar.url(:medium) %>
        </div>
    <% else %>
        <div class="image img-responsive hidden-xs col-sm-4 col-md-4 pull-rigth image-institutions">
          <%= image_tag institution.avatar.url(:medium) %>
        </div>
        <div class="text  col-xs-12 col-sm-6 col-md-8 pull-left description-institutions">
          <h3 class="name-description"><%= link_to institution.name, institution, class: "links-buttons" %></h3>
          <div class="image img-responsive visible-xs pull-right image-institutions">
            <%= image_tag institution.avatar.url(:thumb) %>
          </div>
          <div class="text-justify"><%= institution.description %></div>
        </div>
    <% end %>
  </div>
<% end %>
