<div class="row">
  <div class="pull-left" style="margin-left: 40px"> <%= image_tag @institution.avatar.url(:thumb) %></div>
  <div class="pull-right" style="display: inline-block; margin-right: 30px; vertical-alignment: middle;"> <h4><%= @institution.name %></h4></div>
</div>

<div class="row">

  <div class="text-justify" style="margin-left: 30px; margin-right: 30px; margin-top: 20px;"> <%= @institution.description %> </div>

</div>

<br />

<% if user_signed_in? %>
  <%= link_to t('Edit'), edit_institution_path(@institution), class: "btn btn-default" %>
  <%= link_to t('Back'), institutions_path, class: "btn btn-default" %>
<% end %>
