<div class="col-xs-12 col-sm-6 col-md-2">
</div>

<div class="col-xs-12 col-sm-6 col-md-6">

  <div class="text-center">
    <h2><%=t "Resend confirmation instructions" %></h2>
  </div>
  <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, class: "form-control" %>
  </div>

  <div class="actions">
    <%= f.submit t("Resend confirmation instructions") class: "btn btn-default"%>
  </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
