<h1 class="text-center"><%=t "Blogs" %></h1>
<div class="table-responsive">
  <table class="table table-striped table-hover blogs_name">
    <thead>
      <tr>
        <th colspan="1" class="text-center"><%=t "Name" %></th>
        <th colspan="4" class="text-center"><%=t "Actions" %></th>
      </tr>
    </thead>

    <tbody>
      <% @blogs.each do |blog| %>
        <tr>
          <td class="text-center" width="70%"><%= "#{blog.name}" %></td>
          <td>
            <%= link_to blog, title: "Go to this blog", class: "btn btn-default" do %>
              <i class="glyphicon glyphicon-home", aria-hidden="true"></i>
            <% end %>
          </td>
          <td>
            <%= link_to edit_blog_path(blog), title: "Edit this blog", class: "btn btn-default" do %>
              <i class="glyphicon glyphicon-pencil" aria-hidden="true"></i>
            <% end %>
          </td>
          <td>
            <%= link_to blog, title: "Destroy this blog", method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default" do %>
              <i class="glyphicon glyphicon-trash" aria-hidden="true"></i>
            <% end %>
          </td>
          <td>
            <% if blog.show_on_home_page %>
              <% button = "glyphicon glyphicon-check" %>
            <% else %>
              <% button = "glyphicon glyphicon-unchecked" %>
            <% end %>
            <%= link_to '#', onclick: "filter_page_loader(#{blog.id})", class: "btn btn-default show_on_home_page", title: "Should this be shown on home page", value: blog.id, id: blog.id do %>
              <i class="<%= button %>", aria-hidden="true"></i>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>
<%= link_to t('New blog'), new_blog_path, class: "btn btn-default" %>

<script>
function filter_page_loader(element){
  var page_action, value;
  page_action = '/blogs';
  value = element;
  $.ajax({
    url: page_action,
    type: 'GET',
    data: {
      'value': value
    },
    success: function(response) {
      var response_html = $(response);

      var table_data = response_html.find('.blogs_name').html();
      var blog_posts = response_html.find('.blog-posts').html();
      $('.blogs_name').html(table_data);
      $('.blog-posts').html(blog_posts);
    }
  });
};
</script>
