<% @blogs.each_with_index do |blog, index| %>
  <div class="row institutions">
    <% if (index % 2 == 0) %>
      <div class="text col-xs-6 col-sm-6 col-md-8 pull-rigth description-institutions">
        <div class="image img-responsive col-xs-12 pull-right image-institutions">
          <%= image_tag blog.cover.url(:thumb) %>
        </div>
        <h3 class="name-description"><%= link_to blog.name, blog, class: "links-buttons" %></h3>
        <div class="text-justify"><%= blog.description %></div>
      </div>
      <div class="image img-responsive hidden-xs col-sm-4 col-md-4 pull-left image-institutions">
        <%= image_tag blog.cover.url(:medium) %>
      </div>
    <% else %>
      <div class="image img-responsive hidden-xs col-sm-4 col-md-4 pull-rigth image-institutions">
        <%= image_tag blog.cover.url(:medium) %>
      </div>
      <div class="text  col-xs-6 col-sm-6 col-md-8 pull-left description-institutions">
        <div class="image img-responsive col-xs-12 pull-right image-institutions">
          <%= image_tag blog.cover.url(:thumb) %>
        </div>
        <h3 class="name-description"><%= link_to blog.name, blog, class: "links-buttons" %></h3>
        <div class="text-justify"><%= blog.description %></div>
      </div>
    <% end %>
  </div>
<% end %>
