<div>
  <%= image_tag @blog.cover.url(:medium) %>
</div>

<h1> <%= @blog.name %> </h1>

<small> <%= @blog.description %> </small>

<br />
<br />
<div class="post"></div>

<h3><%= "Articles of this blog" %></h3>

<div class="table-responsive">
  <table class="table">
    <% @blog.articles.each do |article| %>
      <tr>
        <td> <%= link_to article.title, article, class: "link-buttons" %> </td>
        <td><small> <%= article.abstract %> <small></td>
      </tr>
    <% end %>
  </table>
</div>

<% if user_signed_in? %>
  <%= link_to t('Edit'), edit_blog_path(@blog), class: "btn btn-default" %>
  <%= link_to t('Back'), blogs_path, class: "btn btn-default" %>
<% end %>
