<div class="col-xs-12 col-sm-6 col-md-2 hidden-sm ">
</div>

<div class="col-xs-12 col-sm-12 col-md-6">

  <div class="text-center">
    <h2><%= t('Edit') + " " + t(resource_name.to_s.humanize) %></h2>
  </div>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <%= render :partial => "devise/shared/form", :locals => {:f => f} %>

  <div class="form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, class: "form-control" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
  <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="form-group">
    <%= f.label t(:password) %> <i><%=t "(leave blank if you don't want to change it)"%></i><br />
    <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label t(:password_confirmation) %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label t(:current_password) %> <i><%=t "(we need your current password to confirm your changes)"%></i><br />
    <%= f.password_field :current_password, autocomplete: "off", class: "form-control" %>
  </div>

  <div class="actions">
    <%= f.submit t("Update"), {class: "btn btn-default"} %>
  </div>
  <% end %>

  <h3><%=t "Cancel my account" %></h3>

  <p><%=t "Unhappy?" %> <%= button_to t("Cancel my account"), registration_path(resource_name), data: { confirm: t("Are you sure?") }, method: :delete, class: "btn btn-default" %></p>

  <%= link_to t("Back"), :back, class: "btn btn-default" %>
</div>
