<ul class="list-unstyled">
  <% results.each do |result| %>
  <li>
    <div class="article-search-item">
      <div class="text-search-article">
        <span class="result-item-article-title"><%= link_to result.title, result %></span>
        <br>
        <br>
        <div class="text-justify border-article">
          <%= result.abstract.truncate_words(30) %>
        </div>
      </div>
      <br>
    </div>
  </li>
  <% end %>
</ul>
