<ul class="list-unstyled">
  <% results.each do |result| %>
  <li>
    <div class="institution-search-item">
      <div class="image img-responsive pull-left image-institutions">
        <%= image_tag result.avatar.url(:thumb) %>
      </div>
      <div class="text-search-institution">
        <span class="result-item-institution-name"><%= link_to result.name, result %></span>
        <br>
        <br>
        <span class="text-justify"> <%= result.description.truncate_words(40) %> </span>
      </div>
      <br>
    </div>
  </li>
  <% end %>
</ul>
