<h1> <%=t "Results Found:" %></h1>
<% count = 1 %>
<ul id="myTab" class="nav nav-tabs" role="tablist">
  <% @results.each do |key, list| %>
    <% if list.count > 0 %>
      <li role="presentation" id="<%= key %>" class="<%= count == 1 ? "active" : ""%>"><%= link_to key.to_s.capitalize, "#" %></li>
      <% count += 1 %>
    <% end %>
  <% end %>
</ul>

<% @results.each do |key, list|  %>
  <div id="myTabContent <%=  key.to_s%>_id" class="tab-content">
    <div role="tabpanel" class="tab-pane fade <%= key.to_s%>_panel" aria-labelledby="<%= key %>">
      <%= render :partial => "search/#{key}", :locals => {:results => list} %>
    </div>
  </div>
<% end %>

<script>
$('#myTab a').click(function (e) {
  e.preventDefault()
  $('.active').removeClass('active');
  var tab = $(this).parent().attr('id');
  $('#'+tab).addClass('active');
  $('.tab-pane').each(function(){
    $(this).removeClass('in active');
  })
  var tab_to_show = tab + '_panel';
  $('.'+tab_to_show).each(function(){
    $(this).addClass('in active');
  });
})

$( document ).ready(function() {
  // Handler for .ready() called.
  var id = $('.active').attr('id') + '_panel';
  $('.'+id).addClass('in active');
});
</script>
