<div class="form-group">
  <%= f.label t(:name) %><br />
  <%= f.text_field :name, autofocus: true, class: "form-control" %>
</div>

<div class="form-group">
  <%= f.label t(:about_me) %><br />
  <%= f.text_area :about_me, class: "form-control" %>
</div>

<div class="form-group">
  <%= f.label t(:avatar) %><br />
  <%= f.file_field :avatar, class: "form-control" %>
</div>

<div class="form-group">
  <%= f.label :github %><br />
  <%= f.text_field :github, class: "form-control" %>
</div>

<div class="form-group">
  <%= f.label :gitlab %><br />
  <%= f.text_field :gitlab, class: "form-control" %>
</div>

<div class="form-group">
  <%= f.label t(:country) %><br />
  <%= f.text_field :country, class: "form-control" %>
</div>

<div class="form-group">
  <%= f.label t(:birthday) %><br />
  <%= f.date_field :birthday, class: "form-control" %>
</div>

<div class="form-group">
  <%= f.label :linkedin %><br />
  <%= f.text_field :linkedin, class: "form-control" %>
</div>
