<%= form_for(@article) do |f| %>
  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
      <% @article.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label t(:title) %><br />
    <%= f.text_field :title, autofocus: true, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label t(:abstract) %> <br />
    <%= f.text_area :abstract, class: "form-control"  %>
  </div>
  <%= tinymce %>
  <div class="form-group">
    <%= f.label t(:body) %> <br />
    <%= f.text_area :body, class: "form-control tinymce", rows: 40  %>
  </div>

  <div class="form-group">
    <%= f.label t(:blog) %> <br />
    <%= f.select(:blog_id, options_for_select(@blogs, @article.blog_id),{}, {class: "form-control"}) %>
  </div>

  <div class="form-group checkbox">
    <%= f.label t(:published) do %> <br />
    <%= f.check_box :published %>
    <%= t("Want to publish it now?") %>
    <% end %>
  </div>

  <div class="form-group checkbox">
    <%= f.label t(:accept_comments) do %> <br />
    <%= f.check_box :accept_comments %>
    <%= t("Want to accept comments for this?") %>
    <% end %>
  </div>

  <div class="actions">
    <%= f.submit class: 'btn btn-default'  %>
  </div>
<% end %>
