<ul id="myTab" class="nav nav-tabs" role="tablist">
  <% @blogs.each_with_index do |blog, index| %>
    <% if index == 0 %>
      <li role="presentation" id="<%= blog.name.downcase.tr(' ', '_') %>" class="active"><%= link_to blog.name, "#" %> </li>
    <% else %>
      <li role="presentation" id="<%= blog.name.downcase.tr(' ', '_') %>"><%= link_to blog.name, "#" %> </li>
    <% end %>
  <% end %>
</ul>

<% @articles.each do |article| %>
  <% blog_name = Blog.find(article.blog_id).name %>
  <div id="myTabContent <%= blog_name.downcase.tr(' ', '_')%>_id" class="tab-content">
    <div role="tabpanel" class="tab-pane fade <%= blog_name.downcase.tr(' ', '_')%>_panel" aria-labelledby="<%= blog_name.downcase.tr(' ', '-') %>">
      <h3><%= link_to article.title, article, class: "link-buttons"  %></h3>
      <h4><%= link_to article.abstract.truncate_words(20), article, class: "link-buttons"  %></h4>
    </div>
  </div>
<% end %>

<script>
  $('#myTab a').click(function (e) {
    e.preventDefault()
    $('.active').removeClass('active');
    var tab = $(this).parent().attr('id');
    $('#'+tab).addClass('active');
    $('.tab-pane').each(function(){
      $(this).removeClass('in active');
    })
    var tab_to_show = tab + '_panel';
    $('.'+tab_to_show).each(function(){
      $(this).addClass('in active');
    });
  })

  $( document ).ready(function() {
    // Handler for .ready() called.
    var id = $('.active').attr('id') + '_panel';
    $('.'+id).addClass('in active');
  });
</script>
