<div class="col-xs-12 col-sm-12 col-md-12">

  <div class="text-center">
    <h1><%=t "Edit Article" %></h1>
  </div>
    <%= render 'form' %>

    <%= link_to t('Show'), @article, class: "btn btn-default" %>
    <%= link_to t('Back'), articles_path, class: "btn btn-default" %>
</div>
