<h1 class="text-center"> <%= @article.title %> </h1>
<br />
<small class="pull-center"> <%= @article.abstract %> </small>
<br />
<br />
<p> <%= @article.body.html_safe %> </p>


<% if user_signed_in? %>
  <%= link_to t('Edit'), edit_article_path(@article), class:'btn btn-default' %>
  <%= link_to t('Back'), articles_path, class:'btn btn-default' %>
<% end %>
