<%= form_for(@job) do |f| %>
  <% if @job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
      <% @job.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label t(:name) %><br />
    <%= f.text_field :name, autofocus: true, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label t(:institutions) %><br />
    <%= f.select(:institution_id, options_for_select(@institutions, @job.institution_id), {}, {class: "form-control"}) %>
  </div>

  <div class="form-group">
    <%= f.label t(:responsabilities) %> <br />
    <%= f.text_field :responsabilities, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label t(:position) %> <br />
    <%= f.text_field :position, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label t(:start_date) %><br />
    <%= f.date_field :start_date, class: "form-control" %>
  </div>

  <div class="checkbox form-group">
    <%= f.label :current do %>
      <%= f.check_box :current %>
      <%=t "Current Job" %>
    <% end %>
  </div>

  <div class="form-group">
    <%= f.label t(:end_date) %><br />
    <%= f.date_field :end_date, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label t(:link) %> <br />
    <%= f.text_field :link, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label t(:avatar) %><br />
    <%= f.file_field :avatar, class: "form-control" %>
  </div>

  <div class="actions">
    <%= f.submit class: "btn btn-default" %>
  </div>
<% end %>
