<% @jobs.each_with_index do |job, index| %>
<div class="row institutions">
  <% if (index % 2 == 0) %>
  <div class="text col-xs-12 col-sm-6 col-md-8 pull-rigth description-institutions">
    <h3 class="name-description"><%= link_to job.name, job, class: "links-buttons" %></h3>
    <div class="image img-responsive visible-xs pull-left image-institutions">
      <%= image_tag job.avatar.url(:thumb) %>
    </div>
    <div class="text-justify pull-right">
      <h5><%=t "Responsabilities: #{job.responsabilities}" unless job.responsabilities.nil? %></h5>
      <h5><%=t "Position: #{job.position}" unless job.position.nil? %></h5>
      <h5><%=t "Link: #{job.link}" unless job.link.nil? %></h5>
      <% current = job.current ? "Yes" : "No" %>
      <h5><%=t "Current: #{current}" %></h5>
      <h5><%=t "Start date: #{job.start_date.strftime('%d/%m/%Y')}" unless job.start_date.nil? %></h5>
      <h5><%=t "End date: #{job.end_date.strftime('%d/%m/%Y')}" unless job.end_date.nil?%></h5>
      <h5><%=t "Institution: #{Institution.find(job.institution_id).name}"%></h5>
    </div>
  </div>
  <div class="image img-responsive hidden-xs col-sm-6 col-md-4 pull-left image-institutions">
    <%= image_tag job.avatar.url(:medium) %>
  </div>
  <% else %>
  <div class="text  col-xs-6 col-sm-6 col-md-8 pull-left description-institutions">
    <h3 class="name-description"><%= link_to job.name, job, class: "links-buttons" %></h3>
    <div class="image img-responsive visible-xs pull-left image-institutions">
      <%= image_tag job.avatar.url(:thumb) %>
    </div>
    <div class="text-justify pull-right">
      <h5><%=t "Responsabilities: #{job.responsabilities}" unless job.responsabilities.nil? %></h5>
      <h5><%=t "Position: #{job.position}" unless job.position.nil? %></h5>
      <h5><%=t "Link: #{job.link}" unless job.link.nil? %></h5>
      <% current = job.current ? "Yes" : "No" %>
      <h5><%=t "Current: #{current}" %></h5>
      <h5><%=t "Start date: #{job.start_date.strftime('%d/%m/%Y')}" unless job.start_date.nil? %></h5>
      <h5><%=t "End date: #{job.end_date.strftime('%d/%m/%Y')}" unless job.end_date.nil?%></h5>
      <h5><%=t "Institution: #{Institution.find(job.institution_id).name}"%></h5>
    </div>
  </div>
  <div class="image img-responsive hidden-xs col-sm-6 col-md-4 pull-left image-institutions">
    <%= image_tag job.avatar.url(:medium) %>
  </div>
  <% end %>
</div>
<div class="post"></div>
<% end %>
