<h1 class="text-center"><%=t "Jobs" %></h1>
<div class="table-responsive">
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th colspan="1" class="text-center"><%= "Name" %></th>
        <th colspan="3" class="text-center"><%= "Actions" %></th>
      </tr>
    </thead>

    <tbody>
      <% @jobs.each do |job| %>
      <tr>
        <td  width="75%"><%= "#{job.name}" %>
        <td><%= link_to job, class: "btn btn-default" do %>
          <i class="glyphicon glyphicon-home", aria-hidden="true"></i></td>
        <% end %>
        <td><%= link_to edit_job_path(job), class: "btn btn-default" do %>
          <i class="glyphicon glyphicon-pencil" aria-hidden="true"></i></td>
        <% end %>
        <td><%= link_to job, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default" do %>
          <i class="glyphicon glyphicon-trash" aria-hidden="true"></i></td>
        <% end %>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>

<br>

<%= link_to t('New job'), new_job_path, class: "btn btn-default" %>
