<div class="col-xs-12 col-sm-6 col-md-2 hidden-sm ">
</div>

<div class="col-xs-12 col-sm-12 col-md-6">

  <div class="text-center">
    <h1><%=t "Editing Job" %></h1>
  </div>

  <%= render 'form' %>

  <%= link_to t('Show'), @job, class: "btn btn-default" %> |
  <%= link_to t('Back'), jobs_path, class: "btn btn-default" %>
</div>
