<div class="col-xs-12 col-sm-6 col-md-2">
</div>

<div class="col-xs-12 col-sm-6 col-md-6">

  <div class="text-center">
    <h2><%=t "Change your password" %></h2>
  </div>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>
  <%= f.hidden_field :reset_password_token %>

  <div class="form-group">
    <%= f.label :password, t("New password") %><br />
    <%= f.password_field :password, autofocus: true, autocomplete: "off", class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation, t("Confirm new password") %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control"  %>
  </div>

  <div class="actions">
    <%= f.submit t("Change my password") class: "btn btn-default" %>
  </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
