<div class="text col-md-6 col-sm-6 col-xs-6 pull-left">
  <div class="name-about">
    <h3 class="text-center"><%= @user.name %></h3>
  </div>
  <br \>
  <div class="about-me text-justify">
    <h5><%= @user.about_me %></h5>
  </div>
</div>

<div class="image col-md-6 col-sm-6 col-xs-6 pull-right">
  <br \>
  <br \>
  <div class="pull-right"><%= image_tag @user.avatar.url(:medium), class:"about-image" %></div>
  <div class="pull-right buttons-social">
    <%= link_to @user.linkedin,  :target => "_blank", class: "btn btn-default" do %>
    <i class="fa fa-linkedin fa-lg"></i>
    <% end %>
    <%= link_to @user.github,  :target => "_blank", class: "btn btn-default" do %>
    <i class="fa fa-github fa-lg"></i>
    <% end %>
    <%= link_to @user.gitlab, :target => "_blank", class: "btn btn-default" do %>
    <i class="fa fa-git fa-lg"></i>
    <% end %>
    <%= mail_to @user.email,  :target => "_blank", class: "btn btn-default"  do %>
    <i class="glyphicon glyphicon-envelope fa-lg"></i>
    <% end %>
  </div>
</div>
