
<div class="image col-md-3 col-sm-4 hidden-xs pull-left sidebar">
  <h3 class="text-center"> <%=t "Check me out" %> </h3>
  <br \>
  <br \>
  <div class="links-about">
    <%= link_to  @user.linkedin,  :target => "_blank", class: "btn btn-default" do %>
        <i class="fa fa-linkedin fa-lg">  LinkedIn</i>
    <% end %>
  </div>
  <br \>
  <div class="links-about">
    <%= link_to @user.github,  :target => "_blank", class: "btn btn-default" do %>
      <i class="fa fa-github fa-lg">  GitHub</i>
    <% end %>
  </div>
  <br \>
  <div class="links-about">
    <%= link_to @user.gitlab, :target => "_blank", class: "btn btn-default" do %>
      <i class="fa fa-git fa-lg">  GitLab</i>
    <% end %>
  </div>
  <br \>
  <div class="links-about">
    <%= mail_to  @user.email,  :target => "_blank", class: "btn btn-default"  do %>
      <i class="glyphicon glyphicon-envelope fa-lg">  Email</i>
    <% end %>
  </div>

  <div class="post">
  </div>

  <h3 class="text-center"> <%= "My Blogs" %> </h3>
  <br \>
  <% @blogs.each do |blog| %>
    <div class="links-about">
      <%= link_to blog.name, blog, class: "link-buttons" %>
    </div>
  <% end %>
</div>

<div class="image visible-xs col-xs-3 pull-right">
  <br \>
  <br \>
  <div class="pull-right"><%= image_tag @user.avatar.url(:thumb), class:"about-image" %></div>
  <div class="pull-right buttons-social">
    <%= link_to @user.linkedin,  :target => "_blank", class: "btn btn-default" do %>
    <i class="fa fa-linkedin fa-lg"></i>
    <% end %>
    <%= link_to @user.github,  :target => "_blank", class: "btn btn-default" do %>
    <i class="fa fa-github fa-lg"></i>
    <% end %>
    <%= link_to @user.gitlab, :target => "_blank", class: "btn btn-default" do %>
    <i class="fa fa-git fa-lg"></i>
    <% end %>
    <%= mail_to @user.email,  :target => "_blank", class: "btn btn-default"  do %>
    <i class="glyphicon glyphicon-envelope fa-lg"></i>
    <% end %>
  </div>
</div>


<div class="col-md-9 col-sm-8 col-xs-9 pull-rigth">
  <div class="pull-center">
    <h3 class="text-center"><%= @user.name %></h3>
  </div>
  <br />

  <div class="infos">
    <div class="pull-left text-justify">
      <h5><%= @user.about_me %></h5>
    </div>
    <div class="pull-right hidden-xs">
      <%= image_tag @user.avatar.url(:medium), class: "hidden-sm" %>
    </div>
  </div>
</div>
