<% @projects.each_with_index do |project, index| %>
<div class="row institutions">
  <% if (index % 2 == 0) %>
  <div class="text col-xs-12 col-sm-6 col-md-8 pull-rigth description-institutions">
    <h3 class="name-description"><%= link_to project.name, project, class: "links-buttons" %></h3>
    <div class="image img-responsive visible-xs pull-left image-institutions">
      <%= image_tag project.avatar.url(:thumb) %>
    </div>
    <div class="text-justify pull-right">
      <h5><%=t "Responsabilities: #{project.responsabilities}" unless project.responsabilities.nil? %></h5>
      <h5><%=t "Position: #{project.position}" unless project.position.nil? %></h5>
      <% current = project.current ? "Yes" : "No" %>
      <h5><%=t "Current: #{current}" %></h5>
      <h5><%=t "Start date: #{project.start_date.strftime('%d/%m/%Y')}" unless project.start_date.nil? %></h5>
      <h5><%=t "End date: #{project.end_date.strftime('%d/%m/%Y')}" unless project.end_date.nil?%></h5>
      <h5><%=t "Institution: #{Institution.find(project.institution_id).name}"%></h5>
    </div>
  </div>
  <div class="image img-responsive hidden-xs col-sm-6 col-md-4 pull-left image-institutions">
    <%= image_tag project.avatar.url(:medium) %>
  </div>
  <% else %>
  <div class="text  col-xs-6 col-sm-6 col-md-8 pull-left description-institutions">
    <h3 class="name-description"><%= link_to project.name, project, class: "links-buttons" %></h3>
    <div class="image img-responsive visible-xs pull-left image-institutions">
      <%= image_tag project.avatar.url(:thumb) %>
    </div>
    <div class="text-justify pull-right">
      <h5><%=t "Responsabilities: #{project.responsabilities}" unless project.responsabilities.nil? %></h5>
      <h5><%=t "Position: #{project.position}" unless project.position.nil? %></h5>
      <% current = project.current ? "Yes" : "No" %>
      <h5><%=t "Current: #{current}" %></h5>
      <h5><%=t "Start date: #{project.start_date.strftime('%d/%m/%Y')}" unless project.start_date.nil? %></h5>
      <h5><%=t "End date: #{project.end_date.strftime('%d/%m/%Y')}" unless project.end_date.nil?%></h5>
      <h5><%=t "Institution: #{Institution.find(project.institution_id).name}"%></h5>
    </div>
  </div>
  <div class="image img-responsive hidden-xs col-sm-6 col-md-4 pull-left image-institutions">
    <%= image_tag project.avatar.url(:medium) %>
  </div>
  <% end %>
</div>
<div class="post"></div>
<% end %>
