<h1 class="text-center"><%=t "Projects" %></h1>
<div class="table-responsive">
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th colspan="1" class="text-center"><%=t "Name" %></th>
        <th colspan="3" class="text-center"><%=t "Actions" %></th>
      </tr>
    </thead>

    <tbody>
      <% @projects.each do |project| %>
        <tr>
          <td  width="75%"><%= "#{project.name}" %>
          <td colspan="3"><%= link_to project, class: "btn btn-default" do %>
            <i class="glyphicon glyphicon-home", aria-hidden="true"></i>
          <% end %>
          <td><%= link_to edit_project_path(project), class: "btn btn-default" do %>
            <i class="glyphicon glyphicon-pencil" aria-hidden="true"></i>
          <% end %>
          <td><%= link_to project, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default" do %>
            <i class="glyphicon glyphicon-trash" aria-hidden="true"></i></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>

<%= link_to t('New Project'), new_project_path, class: "btn btn-default" %>
