<div class="row">
  <div class="pull-left" style="margin-left: 40px"> <%= image_tag @project.avatar.url(:thumb) %></div>
  <div class="pull-right" style="display: inline-block; margin-right: 30px; vertical-alignment: middle;"> <h4><%= @project.name %></h4></div>
</div>

<div class="row">

  <div class="text-justify" style="margin-left: 30px; margin-right: 30px; margin-top: 20px;"> <%= @project.responsabilities %> </div>

</div>

<% if user_signed_in? %>
  <%= link_to t('Edit'), edit_project_path(@project) %> |
  <%= link_to t('Back'), projects_path %>
<% end %>
