<div class="col-xs-12 col-sm-6 col-md-2">
</div>

<div class="col-xs-12 col-sm-6 col-md-6">

  <div class="text-center">
    <h2><%=t "Log in" %></h2>
  </div>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label t(:password) %><br />
    <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
  </div>

  <% if devise_mapping.rememberable? -%>
  <div class="form-group">
    <%= f.check_box :remember_me %>
    <%= f.label t(:remember_me) %>
  </div>
  <% end -%>

  <div class="actions">
    <%= f.submit t("Log in"), {class: "btn btn-default"} %>
  </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
