<%= form_for(@environment) do |f| %>
  <% if @environment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@environment.errors.count, "error") %> prohibited this environment from being saved:</h2>

      <ul>
      <% @environment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label t(:name) %>
    <%= f.text_field :name,autofocus: true, class: "form-control"  %>
  </div>

  <div class="checkbox form-group">
    <%= f.label :can_sign_up do %>
      <%= f.check_box :can_sign_up  %>
      <%=t "Can users sign up?" %>
    <% end %>
  </div>

  <div class="actions">
    <%= f.submit class: "btn btn-default"  %>
  </div>
<% end %>

<br />
