<h2 class="text-center"> <%=t "Environments" %></h2>

<div class="table-responsive">
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th colspan="1" class="text-center"><%=t "Name" %></th>
        <th colspan="3" class="text-center"><%=t "Actions" %></th>
      </tr>
    </thead>

    <tbody>
      <% @environments.each do |environment| %>
      <tr>
        <td class="text-center" width="75%"><%= "#{environment.name}" %></td>
        <td>
          <%= link_to environment, title: "Go to this environment", class: "btn btn-default" do %>
            <i class="glyphicon glyphicon-home", aria-hidden="true"></i>
          <% end %>
        </td>
        <td>
          <%= link_to edit_environment_path(environment), title: "Edit this environment", class: "btn btn-default" do %>
            <i class="glyphicon glyphicon-pencil" aria-hidden="true"></i>
          <% end %>
        </td>
        <td>
          <% can_delete = @environments.count > 1 ? true : false %>
          <% if can_delete %>
            <%= link_to environment, title: "Destroy this environment", method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default" do %>
              <i class="glyphicon glyphicon-trash" aria-hidden="true"></i>
            <% end %>
          <% else %>
            <%= link_to "#", title: "You can't delete your only environemtn", class: "btn btn-default btn-disabled", disabled: true do %>
              <i class="glyphicon glyphicon-trash" aria-hidden="true"></i>
            <% end %>
          <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>

<%= link_to t('New environment'), new_blog_path, class: "btn btn-default" %>
