
<h1><%= @environment.name %> </h1>

<br />

<h4><%= t("Can users sign up?") + " " + (@environment.can_sign_up ? t("Yes") : t("No")) %></h4>

<br />

<%= link_to t('Edit'), edit_environment_path(@environment), class: "btn btn-default" %>
<%= link_to t('Back'), environments_path, class: "btn btn-default" %>
