<%= form_for(@course) do |f| %>
  <% if @course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
      <% @course.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label t(:name) %><br />
    <%= f.text_field :name, autofocus: true,  class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= f.label t(:institutions) %><br />
    <%= f.select(:institution_id, options_for_select(@institutions, @course.institution_id), {}, {class: "form-control"} ) %>
  </div>

  <div class="form-group">
    <%= f.label t(:degree) %> <br />
    <%= f.select(:degree ,[[t("Associate Degree"),"Associate Degree"],[t("Bachelors"), "Bachelors"], [t("Masters"), "Masters"], [t("PhD"), "PhD"]], {}, {class: "form-control"}) %>
  </div>

  <div class="form-group">
    <%= f.label t(:start_date) %><br />
    <%= f.date_field :start_date,  class: "form-control"  %>
  </div>

  <div class="checkbox">
    <%= f.label t(:current) do %>
    <%= f.check_box :current %>
    <%=t "Current Course" %>
    <% end %>
  </div>

  <div class="form-group">
    <%= f.label t(:end_date) %><br />
    <%= f.date_field :end_date, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= f.label t(:gpa) %> <br />
    <%= f.select(:gpa, options_for_select([[1, 1], [2, 2], [3, 3], [4, 4], [5, 5]], @course.gpa), {}, {class: "form-control"}) %>
  </div>

  <div class="actions">
    <%= f.submit class: "btn btn-default"%>
  </div>
<% end %>
