<h1 class="text-center"><%=t "Courses" %></h1>
<div class="table-responsive">
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th colspan="1" class="text-center"><%=t "Name" %></th>
        <th colspan="3" class="text-center"><%=t "Actions" %></th>
      </tr>
    </thead>

    <tbody>
      <% @courses.each do |course| %>
        <tr>
          <td  width="75%"><%= "#{course.name}" %>
          <td><%= link_to course, class: "btn btn-default" do %>
            <i class="glyphicon glyphicon-home", aria-hidden="true"></i></td>
          <% end %>
          <td><%= link_to edit_course_path(course), class: "btn btn-default" do %>
            <i class="glyphicon glyphicon-pencil" aria-hidden="true"></i></td>
          <% end %>
          <td><%= link_to course, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default" do %>
            <i class="glyphicon glyphicon-trash" aria-hidden="true"></i></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>

<%= link_to t('New Course'), new_course_path, class: "btn btn-default" %>
