<% @courses.each_with_index do |course, index| %>
<div class="row institutions">
  <% if (index % 2 == 0) %>
  <div class="text col-xs-12 col-sm-6 col-md-8 pull-rigth description-institutions">
    <h3 class="name-description"><%= link_to course.name, course, class: "links-buttons" %></h3>
    <h5><%=t "Institution: #{Institution.find(course.institution_id).name}" %></h5>
    <h5><%=t "Degree: #{course.degree}" unless course.degree.nil?%></h5>
    <h5><%=t "Start Date: #{course.start_date.strftime('%d/%m/%Y')}" unless course.start_date.nil? %></h5>
    <h5><%=t "End Date: #{course.end_date.strftime('%d/%m/%Y')}" unless course.end_date.nil? %></h5>
    <h5><%=t "GPA: #{course.gpa.to_s}" unless course.gpa.nil? %></h5>
    <% current = course.current ? "Yes" : "No" %>
    <h5><%=t "Current: #{current}" %></h5>
  </div>
  <% else %>
  <div class="text  col-xs-12 col-sm-6 col-md-8 pull-left description-institutions">
    <h3 class="name-description"><%= link_to course.name, course, class: "links-buttons" %></h3>
    <h5><%=t "Institution: #{Institution.find(course.institution_id).name}" %></h5>
    <h5><%=t "Degree: #{course.degree}" unless course.degree.nil? %></h5>
    <h5><%=t "Start Date: #{course.start_date.strftime('%d/%m/%Y')}" unless course.start_date.nil? %></h5>
    <h5><%=t "End Date: #{course.end_date.strftime('%d/%m/%Y')}" unless course.end_date.nil? %></h5>
    <h5><%=t "GPA: #{course.gpa.to_s}" unless course.gpa.nil? %></h5>
    <% current = course.current ? "Yes" : "No" %>
    <h5><%=t "Current: #{current}"%></h5>
  </div>
  <% end %>
</div>
<div class="post"></div>
<% end %>
