<h1><%= @course.name %></h1>
<br />

<div>

  <h4><%= t("Start date") + ": " + @course.start_date.strftime('%d %b %Y') if @course.start_date %></h4><br />
  <h4><%= t("End date") + ": " + @course.end_date.strftime('%d %b %Y') if @course.end_date %></h4><br />
  <h4><%= t("GPA") + ": " + @course.gpa.to_s if @course.gpa%></h4><br />
  <h4><%= t("Degree") + ": " + t(@course.degree) if @course.degree %></h4><br />
  <h4><%= t("Institution") + ": " + Institution.find(@course.institution_id).name %></h4><br />

</div>

<% if user_signed_in? %>
  <%= link_to t('Edit'), edit_course_path(@course), class: "btn btn-default" %>
  <%= link_to t('Back'), courses_path, class: "btn btn-default" %>
<% end %>
