/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap
 */

.institution-search-item{
   width: auto;
   height: 150px;
   margin: 10px 10px 10px 10px;
}

.result-item-institution-name{
  margin-top: 10px;
}

.text-search-institution{
   margin-left: 13%;
   margin-top: 1%;
}

.border-article{
  border-bottom: solid 1px #d3d3d3;
}

.article-search-item {
  width: auto;
  height: 30px;
}

.text-search-article {
  margin-left: 13%;
  margin-top: 1%;
}

.result-item-article-title {
  margin-top: 10px;
}

 .flag {
   width: 32px;
   height: 25px;
   margin-right: 1px;
   margin-bottom: 20px;
   background:url(/assets/flags.png) no-repeat
 }

 .flag.flag-br {background-position: -32px -4px}
 .flag.flag-us {background-position: 0 -36px}

 .level1, .sidebar{
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
   background-color: #f5f5f5;
 }

 .level2{
   margin-left: 10px;
 }

 .level3{
   margin-left: 15px;
 }

 .post, .blog-posts{
   margin-bottom: 15px;
   margin-top: 20px;
   text-align: center;
 }

 .sidebar{
   height: auto;
   padding-right: 10px;
 }

 .post{
   border-bottom: 1px solid #000;
 }

 .links-about{
   margin-bottom: 15px;
   text-align: center;
 }

 .buttons-social{
   margin-top: 10%;
 }

 .about-image{
   float: right;
   margin-bottom: 10px;

 }

 .link-buttons {
   font-weight: normal;
   color: #337ab7;
   border-radius: 0;
 }
 .link-buttons,
 .link-buttons:active,
 .link-buttons.active,
 .link-buttons[disabled],
 fieldset[disabled] .link-buttons {
   background-color: transparent;
   box-shadow: none;
 }
 .link-buttons,
 .link-buttons:hover,
 .link-buttons:focus,
 .link-buttons:active {
   border-color: transparent;
 }
 .link-buttons:hover,
 .link-buttons:focus {
   color: #23527c;
   text-decoration: underline;
   background-color: transparent;
 }
 .link-buttons[disabled]:hover,
 fieldset[disabled] .link-buttons:hover,
 .link-buttons[disabled]:focus,
 fieldset[disabled] .link-buttons:focus {
   color: #777;
   text-decoration: none;
 }
