// Place all the styles related to the institutions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.institutions{
  margin: 20px;
}

.name-description{
  font-weight: bold;
}

.image-institutions img{
  display: block;
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;

}
.description-institutions {

}

.links-buttons {
  font-weight: normal;
  color: #324759;
  border-radius: 0;
}
.links-buttons,
.links-buttons:active,
.links-buttons.active,
.links-buttons[disabled],
fieldset[disabled] .links-buttons {
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.links-buttons,
.links-buttons:hover,
.links-buttons:focus,
.links-buttons:active {
  border-color: transparent;
}
.links-buttons:hover,
.links-buttons:focus {
  color: #000;
  text-decoration: underline;
  background-color: transparent;
}
.links-buttons[disabled]:hover,
fieldset[disabled] .links-buttons:hover,
.links-buttons[disabled]:focus,
fieldset[disabled] .links-buttons:focus {
  color: #777;
  text-decoration: none;
}
//
// #element {
//   display: inline-block;
//   vertical-align: middle;  /* vertical alignment of the inline element */
//   font: 16px/1 Arial sans-serif;        /* <-- reset the font property */
// }
