<div class="navbar-wrapper visible-xs">
  <div class="container-fluid">
    <nav class="navbar navbar-inverse navbar-fixed-bottom">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class='navbar-brand'> <%=t 'Configurations' %></div>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
          <ul class="nav navbar-nav">
            <!-- Environment -->
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><%=t "Environment"%> <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><%= link_to environments_path, :class => 'navbar-link' do %>
                      <i class="glyphicon glyphicon-briefcase"> <%=t "All" %></i>
                    <% end %>
                </li>
                <li><%= link_to new_environment_path, :class => 'navbar-link' do %>
                  <i class="glyphicon glyphicon-edit"> <%=t "New" %></i>
                  <% end %>
                </li>
              </ul>
            </li>
            <!-- Profile -->
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> <%=t "Profile" %> <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li>
                    <%= link_to about_path, :class => 'navbar-link' do %>
                    <i class="glyphicon glyphicon-user"> <%=t "See Profile" %></i>
                    <% end %>
                </li>
                <li>
                  <%= link_to edit_user_registration_path, :class => 'navbar-link' do %>
                  <i class="glyphicon glyphicon-pencil"> <%=t "Edit"%></i>
                  <% end %>
                </li>

                <li>
                  <%= link_to destroy_user_session_path, method: :delete, :class => 'navbar-link' do %>
                  <i class="glyphicon glyphicon-log-out"> <%=t "Logout" %> </i>
                  <% end %>
                </li>

                <li>
                  <%= link_to cancel_user_registration_path , method: :delete, :class => 'navbar-link' do %>
                  <i class="glyphicon glyphicon-trash"> <%= "Destroy" %></i>
                  <% end %>
                </li>
              </ul>
            </li>
            <!-- Institution -->
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Institution <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li>
                  <%= link_to institutions_path, :class => 'navbar-link' do %>
                  <i class="glyphicon glyphicon-briefcase"> <%=t "All" %></i>
                  <% end %>
                </li>
                <li>
                  <%= link_to new_institution_path, :class => 'navbar-link' do %>
                  <i class="glyphicon glyphicon-edit"> <%=t "New" %></i>
                  <% end %>
                </li>
              </ul>
            </li>
            <!-- Courses -->
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Course <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li>
                  <%= link_to courses_path, :class => 'navbar-link' do %>
                  <i class="glyphicon glyphicon-briefcase"> <%=t "All" %></i>
                  <% end %>
                </li>
                <li>
                  <%= link_to new_course_path, :class => 'navbar-link' do %>
                  <i class="glyphicon glyphicon-edit"> <%=t "New" %></i>
                  <% end %>
                </li>
              </ul>
            </li>
            <!-- Jobs -->
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Job <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li>
                  <%= link_to jobs_path, :class => 'navbar-link' do %>
                  <i class="glyphicon glyphicon-briefcase"> <%=t "All" %></i>
                  <% end %>
                </li>
                <li>
                  <%= link_to new_job_path, :class => 'navbar-link' do %>
                  <i class="glyphicon glyphicon-edit"> <%=t "New" %></i>
                  <% end %>
                </li>
              </ul>
            </li>
            <!-- Projects -->
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Project <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li>
                  <%= link_to projects_path, :class => 'navbar-link' do %>
                  <i class="glyphicon glyphicon-briefcase"> <%=t "All" %></i>
                  <% end %>
                </li>
                <li>
                  <%= link_to new_project_path, :class => 'navbar-link' do %>
                  <i class="glyphicon glyphicon-edit"> <%=t "New" %></i>
                  <% end %>
                </li>
              </ul>
            </li>
              <!-- Blog -->
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Blog <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li>
                    <%= link_to blogs_path, :class => 'navbar-link' do %>
                    <i class="glyphicon glyphicon-briefcase"> <%=t "All" %></i>
                    <% end %>
                  </li>
                  <li>
                    <%= link_to new_blog_path, :class => 'navbar-link' do %>
                    <i class="glyphicon glyphicon-edit"> <%=t "New" %></i>
                    <% end %>
                  </li>
                </ul>
              </li>
              <!-- Projects -->
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Article <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li>
                    <%= link_to articles_path, :class => 'navbar-link' do %>
                    <i class="glyphicon glyphicon-list-alt"> <%=t "All" %></i>
                    <% end %>
                  </li>
                  <li>
                    <%= link_to new_article_path, :class => 'navbar-link' do %>
                    <i class="glyphicon glyphicon-edit"> <%=t "New" %></i>
                    <% end %>
                  </li>
                </ul>
              </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
  </div>
</div>
