
<div class="navbar-header">
  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
  <a class="navbar-brand" href="#">Gabriela Navarro</a>
</div>
<ul class="nav navbar-nav navbar-left">
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-user"></span> Profile </a>
    <ul class="dropdown-menu" role="menu">
      <li> <%= link_to t("Destroy Profile"), cancel_user_registration_path , method: :delete, :class => 'navbar-link'  %> </li>
      <li class="divider"></li>
      <li> <%= link_to t("Logout"), destroy_user_session_path, method: :delete, :class => 'navbar-link' %>  </li>
      <li> <%= link_to t('Edit Profile'), edit_user_registration_path, :class => 'navbar-link' %> </li>
      <li> <%= link_to t("Public Profile"), about_path, method: :delete, :class => 'navbar-link'  %> </li>
    </ul>
  </li>
</ul>
