<nav class="navbar navbar-inverse">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to @environment.name, root_path, class: 'navbar-brand' %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><%= link_to t("About"), about_path, class: "navbar-link"%></li>
        <li><%= link_to t("Institutions"), institutions_path, class: "navbar-link" %></li>
        <li><%= link_to t("Projects"), projects_path, class: "navbar-link" %></li>
        <li><%= link_to t("Jobs"), jobs_path, class: "navbar-link" %></li>
        <li><%= link_to t("Courses"), courses_path, class: "navbar-link" %></li>
      </ul>

      <ul class="nav navbar-right">
        <li>
          <% unless user_signed_in? %>
            <%= button_to new_user_session_path, class: "btn btn-default navbar-btn" do %>
              <i class="glyphicon glyphicon-log-in"></i>
            <% end %>
          <% else %>
            <%= button_to destroy_user_session_path, method: :delete, class: "btn btn-default navbar-btn" do %>
              <i class="glyphicon glyphicon-log-out"></i>
            <% end %>
          <% end %>
        </li>
      </ul>

      <%= form_tag '/search', { method: :get, class: "navbar-form navbar-right"} do %>
        <div class="form-group hidden-sm">
          <%= text_field_tag 'search', nil, placeholder: t('Search'), class: 'form-control' %>
        </div>

        <%= button_tag(type: "submit", class: "btn btn-default") do %>
          <i class="glyphicon glyphicon-search"></i>
        <% end %>
      <% end %>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
