<ul class="nav nav-collapse nav-sidebar level1">
  <li>
    <%= link_to environments_path, :class => 'navbar-link' do %>
      <i class="glyphicon glyphicon-briefcase"> <%=t "Environment" %></i>
    <% end %>
  </li>
  <li>
    <ul class="nav nav-sidebar level2">
      <li>
        <%= link_to new_environment_path, :class => 'navbar-link' do %>
        <i class="glyphicon glyphicon-edit"> <%=t "New" %></i>
        <% end %>
      </li>
    </ul>
  </li>
</ul>

<ul class="nav nav-collapse nav-sidebar level1">
  <li>
    <%= link_to about_path, :class => 'navbar-link' do %>
        <i class="glyphicon glyphicon-user"> <%=t "Profile" %></i>
    <% end %>
  </li>
  <li>
      <ul class="nav nav-sidebar level2">
        <li>
          <%= link_to edit_user_registration_path, :class => 'navbar-link' do %>
            <i class="glyphicon glyphicon-pencil"> <%=t "Edit"%></i>
          <% end %>
        </li>

        <li>
          <%= link_to destroy_user_session_path, method: :delete, :class => 'navbar-link' do %>
            <i class="glyphicon glyphicon-log-out"> <%=t "Logout" %> </i>
          <% end %>
        </li>

        <li>
          <%= link_to cancel_user_registration_path , method: :delete, :class => 'navbar-link' do %>
            <i class="glyphicon glyphicon-trash"> <%=t "Destroy" %></i>
          <% end %>
        </li>
      </ul>
    </li>
</ul>

<ul class="nav nav-collapse nav-sidebar level1">
  <li>
    <%= link_to institutions_path, :class => 'navbar-link' do %>
    <i class="glyphicon glyphicon-briefcase"> <%=t "Institutions" %></i>
    <% end %>
  </li>
  <li>
    <ul class="nav nav-sidebar level2">
      <li>
        <%= link_to new_institution_path, :class => 'navbar-link' do %>
        <i class="glyphicon glyphicon-edit"> <%=t "New" %></i>
        <% end %>
      </li>
    </ul>
  </li>
</ul>

<ul class="nav nav-collapse nav-sidebar level1">
  <li>
    <%= link_to courses_path, :class => 'navbar-link' do %>
    <i class="glyphicon glyphicon-briefcase"> <%=t "Courses" %></i>
    <% end %>
  </li>
  <li>
    <ul class="nav nav-sidebar level2">
      <li>
        <%= link_to new_course_path, :class => 'navbar-link' do %>
        <i class="glyphicon glyphicon-edit"> <%=t "New" %></i>
        <% end %>
      </li>
    </ul>
  </li>
</ul>

<ul class="nav nav-collapse nav-sidebar level1">
  <li>
    <%= link_to jobs_path, :class => 'navbar-link' do %>
    <i class="glyphicon glyphicon-briefcase"> <%=t "Jobs" %></i>
    <% end %>
  </li>
  <li>
    <ul class="nav nav-sidebar level2">
      <li>
        <%= link_to new_job_path, :class => 'navbar-link' do %>
        <i class="glyphicon glyphicon-edit"> <%=t "New" %></i>
        <% end %>
      </li>
    </ul>
  </li>
</ul>

<ul class="nav nav-collapse nav-sidebar level1">
  <li>
    <%= link_to projects_path, :class => 'navbar-link' do %>
    <i class="glyphicon glyphicon-briefcase"> <%=t "Projects" %></i>
    <% end %>
  </li>
  <li>
    <ul class="nav nav-sidebar level2">
      <li>
        <%= link_to new_project_path, :class => 'navbar-link' do %>
        <i class="glyphicon glyphicon-edit"> <%=t "New" %></i>
        <% end %>
      </li>
    </ul>
  </li>
</ul>

<ul class="nav nav-collapse nav-sidebar level1">
  <li>
    <%= link_to blogs_path, :class => 'navbar-link' do %>
    <i class="glyphicon glyphicon-folder-close"> <%=t "Blogs" %></i>
    <% end %>
  </li>
  <li>
    <ul class="nav nav-sidebar level2">
      <li>
        <%= link_to new_blog_path, :class => 'navbar-link' do %>
        <i class="glyphicon glyphicon-folder-open"> <%=t "New" %></i>
        <% end %>
      </li>

      <li>
        <%= link_to articles_path, :class => 'navbar-link' do %>
        <i class="glyphicon glyphicon-list-alt"> <%=t "Articles" %></i>
        <% end %>
      </li>

      <li>
        <ul class="nav nav-sidebar level3">
          <li>
            <%= link_to new_article_path, :class => 'navbar-link' do %>
            <i class="glyphicon glyphicon-edit"> <%=t "New" %></i>
            <% end %>
          </li>
      </li>
    </ul>
  </li>
</ul>
