<div id="main" role="main">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-sm-10 hidden-xs">
      </div>
      <div class="col-md-2 col-sm-2 col-xs-12 text-right">
        <%= link_to "#{Rails.configuration.portuguese_url}" do %>
          <img class="flag flag-br"></i>
        <% end %>
        <%= link_to "#{Rails.configuration.english_url}" do %>
          <img class="flag flag-us"></i>
        <% end %>
      </div>
    </div>
    <div class="hidden-xs col-sm-4 col-md-2 sidebar">
      <%= render 'layouts/sidebar' %>
    </div>

    <div class="col-xs-12 col-sm-8 col-md-8">
      <%= render 'layouts/messages' %>
      <%= yield %>
    </div>

    <% unless @blog_to_show.nil? %>
      <div class="hidden-sm hidden-xs col-md-2 sidebar">
        <div class="blog-posts">
          <h3><%= link_to @blog_to_show.first.name, @blog_to_show.first, class: "link-buttons"  %></h3>
          <% @blog_to_show.first.articles.each do |article| %>
            <div class="post">
              <h4><%= link_to article.title, article, class: "link-buttons" %></h4>
              <p class="text-justify"><%= article.abstract.truncate_words(10) %></p>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>

  </div> <!--! end of .container -->
</div> <!--! end of #main -->
