<!DOCTYPE html>
<html>
<head>
  <title>Portfolio</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
</head>
<body>

<%= render 'layouts/navigation' %>


<% if user_signed_in? %>
  <%= render 'layouts/user_signed_in' %>
<% else %>
  <%= render 'layouts/user_not_signed_in' %>
<% end %>

<% if user_signed_in? %>
  <%= render 'layouts/bottom_navigation' %>
<% end %>
</body>
</html>
